@charset "utf-8";

*{
  margin: 0;
  padding: 0;
}

body{
  width: 100%;
  height: 100%;
}
.nopadding{
padding: 0 !important;
}

.nomargin{
  margin:0 !important;
}
.dvfooter{
  min-height: 500px;
}
.mb-4{
  margin-bottom: 4%;
}

.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom:0;
  background-color: rgba(250,250,250,0.8);
  z-index: 1;
}


.panel-heading{
  width: 100% !important;
  height:auto !important;
  padding: 0px !important;
}

.panel-body{
  background: rgb(255,255,255) !important;
  height: auto !important;
}

.imagen{
  width: 100%;
  height: auto;
  background: url(../img/banner-mape.svg) no-repeat;

}


.imagen-perfil {
 max-width: 150px;
  height: 150px;
  border-radius: 150px;
  -webkit-border-radius:150px;
  -moz-border-radius:150px;
  background: url(../img/perfil-mape.jpg) no-repeat;
  box-shadow: 0 0 8px rgba(0,0,0,.8);
}


.img-fluid{
  width: 100%;
  height: auto;
}

.card{
  position: relative;
  display: block;
  min-height: 0;
  word-wrap: break-word;
  background-color: rgb(250,250,250);
  border: none;
  border-radius: 0.25rem;
}

.card:hover{
  background-color: rgb(155,196,81);
  color: rgb(255,255,255)!important;
}

.card-body, .card-footer {
  padding: 1.25rem;
}

.icon{
  width: 40px;
  height: 40px;
}
.py-5 {
    padding-top: 3rem!important;
    padding-bottom: 3rem!important;
} 
.bg-dark {
   color: #f8f8f8;
   background-color: #343a40!important;
}

#nombre{
  text-decoration: none;
  color:black;
}