<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Claudia-Branding</title>
  <!-- Bootstrap core CSS-->
   <link href="../css/bootstrap/bootstrap.css" rel="stylesheet">
  <link href="../css/menu-sidebar.css" rel="stylesheet">
  <link href="../css/style5.css" rel="stylesheet">
  <link rel="shortcut icon" type="image/x-icon" href="../img/7592creacion1-03.ico">
  <link rel="stylesheet" type="text/css" href="../css/normalize.css">
</head>
<body>
<div class="container-fluid noppading">
     <header id="wrapper">
      <div class="overlay"></div>
      <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
      <ul class="nav sidebar-nav">
        <li class="sidebar-brand"><a href="../index.html">Home</a></li>
        <li><a href="marisela_mejia.html">Marisela Mejía</a></li>
        <li><a href="joseline_saravia.html">Joseline Saravia</a></li>
        <li><a href="jonathan_martinez.html">Jonathan Martínez</a></li>
        <li><a href="claudia_cortez.html">Claudia Cortez</a></li>
      </ul>
      </nav>
    
      <div id="page-content-wrapper">
      <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
         <span class="hamb-top"></span>
         <span class="hamb-middle"></span>
         <span class="hamb-bottom"></span>
      </button>
      </div>
      </header>

      <section>
      <article class="container">
        <div class="carousel-inner">
        <div class="item active"><img src="../img/banner-claudia.svg" class="adaptar">
        </div>
        </div>
        </article>
        <article class="container">
        <div class="row panel-body">
        <div class="col-md-2 ">
        <div>
            <img src="../img/perfil-claudia.jpg" class="imagen-perfil"></div>
        </div>
        <div class="col-md-10">
            <h3>Claudia Cortez</h3>
            <p>Experta en Branding e Ilustración digital, una de las fundadoras de Creación Colectiva, dispuesta a brindar la mejor solución digital a tu empresa creando grandes marcas y posicionándolas en el mercado con una propuesta visual de calidad única.</p>
            <p>Claudia Cortez es graduada en Diseño Gráfico, de la Universidad de El Salvador y cuenta con una especialización en Diseño Web y ha desarrollado una amplia experiencia en Branding, trabajando para empresas internacionales.</p>
        </div>
        </div>
        </article>
        <article class="container">
        <div class="row">
        <div class="col-md-4">
        <div class="card text-center">
            <img src="../img/capirucho1.png" class="adaptar img-fluid"><!--cambiar la imagen por un trabajo propio-->
        <div class="card-body">
        <h4 class="section-heading">Capirucho</h4>
        <p>Branding corporativo para la tienda de ropa Capirucho.</p>
        </div>
        <div class="card-footer">
            <img src="../img/ai.svg" class="icon">
        </div>
        </div>
        </div>
        <div class="col-md-4">
        <div class="card text-center">
            <img src="../img/submarine.jpg" class="adaptar img-fluid">
        <div class="card-body">
            <h4 class="section-heading">Submarino</h4>
            <p>Ilustración basada en el concepto "Submarino" realizada para un libro infantil</p>
        </div>
        <div class="card-footer">
            <img src="../img/ai.svg" class="icon">
        </div>
        </div>
        </div>
        <div class="col-md-4">
        <div class="card text-center">
            <img src="../img/galeria-01.jpg" class="adaptar img-fluid">
        <div class="card-body">
            <h4 class="section-heading">Restaurante Mediterraneo</h4>
            <p>Diseño de la página Web de Restaurante Mediterraneo</p>
        </div>
        <div class="card-footer">
            <img src="../img/ps.svg" class="icon">
        </div>
        </div>
        </div>
        </div>
        </article>   
     </section>
     </div>
     <br>
    <!-- Bootstrap core JavaScript-->
    <script src="../js/jquery/jquery-1.12.4.js"></script>
    <script src="../js/bootstrap/bootstrap.js"></script>
    <script src="../js/sb-admin.js"></script>
      <script type="text/javascript">
      $(document).ready(function () {
          var trigger = $('.hamburger'),
          overlay = $('.overlay'),
          isClosed = false;

          trigger.click(function () {
          hamburger_cross();      
    });

    function hamburger_cross() {

      if (isClosed == true) {          
        overlay.hide();
        trigger.removeClass('is-open');
        trigger.addClass('is-closed');
        isClosed = false;
      } else {   
        overlay.show();
        trigger.removeClass('is-closed');
        trigger.addClass('is-open');
        isClosed = true;
      }
  }
  
  $('[data-toggle="offcanvas"]').click(function () {
        $('#wrapper').toggleClass('toggled');
  });  
});
  </script>
  <footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Creación Colectiva &copy; 2017</p>
  </div>
</footer> 
</body>

</html>

