<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Nosotros</title>
  <!-- Bootstrap core CSS-->
   <link href="../css/bootstrap/bootstrap.css" rel="stylesheet">
  <link href="../css/menu-sidebar.css" rel="stylesheet">
  <link href="../css/style6.css" rel="stylesheet">
  <link rel="shortcut icon" type="image/x-icon" href="../img/7592creacion1-03.ico">
  <link rel="stylesheet" type="text/css" href="../css/normalize.css">
</head>
<body>
<div class="container-fluid noppading">
  <!--menu-->
     <header id="wrapper">
      <div class="overlay"></div>
      <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
      <ul class="nav sidebar-nav">
        <li class="sidebar-brand"><a href="../index.html">Home</a></li>
        <li><a href="marisela_mejia.html">Marisela Mejía</a></li>
        <li><a href="joseline_saravia.html">Joseline Saravia</a></li>
        <li><a href="jonathan_martinez.html">Jonathan Martínez</a></li>
        <li><a href="claudia_cortez.html">Claudia Cortez</a></li>
      </ul>
      </nav>    
      <div id="page-content-wrapper">
      <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
         <span class="hamb-top"></span>
         <span class="hamb-middle"></span>
         <span class="hamb-bottom"></span>
      </button>
      </div><!--fin menu-->
      </header>

      <section>      <!--carousel-->
      <article id="myslide" class="carousel slide container">
        <ol class="carousel-indicators">
        <li class="active" data-target="#myslide" data-slide-to="0"></li>
        <li data-target="#myslide" data-slide-to="1"></li>
        <li data-target="#myslide" data-slide-to="2"></li>
        <li data-target="#myslide" data-slide-to="3"></li>
        </ol>
      <!-- imagenes -->
        <div class="carousel-inner">
        <div class="item active">
        <img src="../img/banner.svg" class="adaptar" width="100%"></div>
        <div  class="item"> 
        <img src="../img/banner-joseline.svg" class="adaptar" width="100%"></div>
        <div class="item"> 
        <img src="../img/banner-mape.svg" class="adaptar" width="100%"></div>
        <div class="item"> 
        <img src="../img/banner-claudia.svg" class="adaptar" width="100%"></div>
        </div>
      <!-- flechas-->
         <a href="#myslide"class="left carousel-control" data-slide="prev"> 
          <span class="glyphicon glyphicon-chevron-left"></span> </a>
         <a href="#myslide" class="right carousel-control"data-slide="next"> <span class="glyphicon glyphicon-chevron-right"></span> </a>
        </article>
        <article class="container">
        <div class="row panel-body">
        <div class="col-md-5 ">
        <div>
            <img src="../img/creacion4-02.png" class="imagen-perfil"></div>
        </div>
        <div class="col-md-7">
            <h2 class="section-heading">Conoce Nuestra Historia</h2>
        <p class="parrafos">Creación Colectiva, es una empresa dedicada a brindar servicios de diseño gráfico, diseño web, fotografía, entre otros servicios. Contamos con una amplia experiencia atendiendo a los mas clientes mas exigentes y brindando satisfacción en cada servicio.</p>
        <p class="parrafos">Nuestra empresa surge del deseo de cuantro Salvadoreños por posicionarse como número uno en las diferentes áreas del diseño, revolucionando la industria y ofreciendo con todo nuestro equipo un mundo de soluciones gráficas nuestros clientes</p>
        <p class="parrafos">Contamos con un equipo especializado en las diferentes áreas del diseño, ofreciendo a las empresas nuestros servicios en Branding, Ilustración, Diseño Web, Fotografía y Publicidad. Puedes conocer a nuestro equipo en cada uno de sus perfiles</a></p>
      </div>
      </div>
      </article>
      <article class="container">
      <hr>
      <div class="row">
      <div class="col-md-3">
      <div class="card text-center">
      <img class="adaptar img-fluid" src="../img/marisela.jpg">
      <div class="card-body">
      <h4 class="section-heading">Marisela Mejía</h4>
      <h6 class="text-muted">Diseño Web</h6>
      <p>Con amplia experiencia en diseño web, Marisela Mejía ofrece a nuestros clientes un mundo de soluciones y un excelente servicio personalizado</p>
      </div>
      <div class="card-footer">
      <a href="marisela_mejia.html">Leer Más</a>
      </div>
      </div>
      </div>
      <div class="col-md-3">
      <div class="card text-center">
      <img class="adaptar img-fluid" src="../img/joseline.jpg">
      <div class="card-body">
      <h4 class="section-heading">Joseline Saravia</h4>
      <h6 class="text-muted">Diseño Gráfico</h6>
      <p>Con su amplia experiencia en el diseño, Joselin Saravia se encarga de brindar el mejor servicio a las empresas, a fin de posicionarlas como número uno</p>
      </div>
      <div class="card-footer">
      <a href="joseline_saravia.html">Leer Más</a>
      </div>
      </div>
      </div>
      <div class="col-md-3">
      <div class="card text-center">
      <img class="adaptar img-fluid" src="../img/mape.jpg">
      <div class="card-body">
      <h4 class="section-heading">Jonathan Matínez</h4>
      <h6 class="text-muted">Fotografía e Ilustración</h6>
      <p>Experto en ilustración, brinda las mejores soluciones gráficas a nuestros clientes dando un toque divertido a sus trabajos...</p><br>
      </div>
      <div class="card-footer">
      <a href="jonathan_martinez.html">Leer Más</a>
      </div>
      </div>
      </div>
      <div class="col-md-3">
      <div class="card text-center">
      <img class="adaptar img-fluid" src="../img/clau.jpg">
      <div class="card-body">
      <h4 class="section-heading">Claudia Cortez</h4>
      <h6 class="text-muted">Branding e Ilustración</h6>
      <p>Experta en Branding e Ilustración digital, una de las fundadoras de Creación Colectiva, dispuesta a brindar la mejor solución digital a tu empresa...</p>
      </div>
      <div class="card-footer">
      <a href="claudia_cortez.html">Leer Más</a>
      </div>
      </div>
      </div>
      </div>
      </article>   
      </section>
     </div>
     <br>
    <!-- Bootstrap core JavaScript-->
    <script src="../js/jquery/jquery-1.12.4.js"></script>
    <script src="../js/bootstrap/bootstrap.js"></script>
    <script src="../js/sb-admin.js"></script>
      <script type="text/javascript">
      $(document).ready(function () {
          var trigger = $('.hamburger'),
          overlay = $('.overlay'),
          isClosed = false;

          trigger.click(function () {
          hamburger_cross();      
    });

    function hamburger_cross() {

      if (isClosed == true) {          
        overlay.hide();
        trigger.removeClass('is-open');
        trigger.addClass('is-closed');
        isClosed = false;
      } else {   
        overlay.show();
        trigger.removeClass('is-closed');
        trigger.addClass('is-open');
        isClosed = true;
      }
  }
  
  $('[data-toggle="offcanvas"]').click(function () {
        $('#wrapper').toggleClass('toggled');
  });  
});
  </script>
  <footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Creación Colectiva &copy; 2017</p>
  </div>
</footer> 
</body>

</html>
